@model Vidya.Models.Customer
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

@if (Model.BirthDate != null)
{
    <p>Birthdate: @Model.BirthDate.Value.ToString("dd:MM:yyyy")</p>
}