@model IEnumerable<Vidya.Models.Video>
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Videos</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Video</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var video in Model)
    {
        <tr>
            <td>@Html.ActionLink(video.Name, "Details", "Video", new {id = video.Id}, null)</td>
            <td>@video.Genre.Name</td>
        </tr>
    }
    </tbody>
</table>
